html
{
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.header {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.header .header-text{
    color: #dfd;
    font: 24pt bold;
    display: flex;
    box-sizing: border-box;
}

div {
    border: 4px solid yellow;
}

.content {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("../../res/img/stars-g481671f1a_1920.jpg");

}

.menu {
    width: 20%;
    display: flex;
    box-sizing: border-box;
}

.header {
    width: 80vw;
    height: 10%;
}

.footer {
    width: 80vw;
    height: 10%;
}

.filter {
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.prikaz {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    height: 80%;
}